version: '2'

services:
   db:
     image: mysql:5.7
     volumes:
       - /var/bd/prestashop/base/:/var/lib/mysql
     ports:
       - "3306:3306"
     networks:
      - wrp
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: 12345
       MYSQL_DATABASE: prestashop
       MYSQL_USER: cris
       MYSQL_PASSWORD: 12345

   prestashop:
     depends_on:
       - db
     image: cpa2
     volumes:
       - /var/www/prestashop/:/var/www/prestashop/
       - /var/www/prestashopmail/:/var/www/prestashopmail/
       - /var/pass:/var/pass
     ports:
       - "80:80"
       - "443:443"
     networks:
      - wrp
     restart: always

   rocketchat:
     image: rocketchat/rocket.chat:latest
     restart: always
     volumes:
       - /var/www/prestashopchat/uploads/:/app/uploads
     environment:
       - PORT=3000
       - ROOT_URL=http://localhost:3000
       - MONGO_URL=mongodb://mongo:27017/rocketchat
       - MONGO_OPLOG_URL=mongodb://mongo:27017/local
       - MAIL_URL=smtp://smtp.email
       - HTTP_PROXY=http://proxy.domain.com
       - HTTPS_PROXY=http://proxy.domain.com
     depends_on:
       - mongo
     ports:
       - "3000:3000"
     labels:
       - "traefik.backend=rocketchat"
       - "traefik.frontend.rule=Host: your.domain.tld"

   mongo:
     image: mongo:3.2
     restart: always
     volumes:
       - /var/bd/chat/:/data/db
     command: mongod --smallfiles --oplogSize 128 --replSet rs0
     labels:
       - "traefik.enable=false"

   hubot:
     image: rocketchat/hubot-rocketchat:latest
     restart: always
     environment:
       - ROCKETCHAT_URL=rocketchat:3000
       - ROCKETCHAT_ROOM=GENERAL
       - ROCKETCHAT_USER=bot
       - ROCKETCHAT_PASSWORD=botpassword
       - BOT_NAME=bot
       - EXTERNAL_SCRIPTS=hubot-help,hubot-seen,hubot-links,hubot-diagnostics
     depends_on:
       - rocketchat
     labels:
       - "traefik.enable=false"
     volumes:
       - /var/www/prestashopchat/scripts:/home/hubot/scripts
     ports:
       - 3001:8080

networks:
  wrp:
    driver: bridge
    ipam:
     config:
       - subnet: 192.19.20.0/16
         gateway: 192.19.20.1
         aux_addresses:
          db: 192.19.0.1
          prestashop: 192.19.0.2
