version: '2'

services:
   db:
     image: mysql:5.7
     volumes:
       - /var/www/prestashop/base/:/var/lib/mysql
     ports:
       - "3306:3306"
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: 12345
       MYSQL_DATABASE: prestashop
       MYSQL_USER: cris
       MYSQL_PASSWORD: 12345

   prestashop:
     depends_on:
       - db
     image: cpa2
     volumes:
       - /var/www/prestashop/:/var/www/prestashop/
       - /var/www/prestashopmail/:/var/www/prestashopmail/
     ports:
       - "80:80"
       - "443:443"
     restart: always
