version: '2'

services:
   db:
     image: mysql:5.7
     volumes:
       - /var/www/joombla/base/:/var/lib/mysql
     restart: always
     ports:
       - "3306:3306"
     environment:
       MYSQL_ROOT_PASSWORD: YOUPASS
       MYSQL_DATABASE: joomla
       MYSQL_USER: Pol
       MYSQL_PASSWORD: YOUPASS

   joomla:
     depends_on:
       - db
     image: joomla-pol-1
     volumes:
       - /var/www/joomla/:/var/www/joomla/
     ports:
       - "80:80"
       - "433:433"
     restart: always

